@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    color: #559092;
}

.nav-link:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-link:active {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}